MONGO_URI=mongodb://localhost:27017/jss-platform
JWT_SECRET=jss_super_secret_key_2025
JWT_REFRESH_SECRET=jss_refresh_secret_2025
GEMINI_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CALLMEBOT_PHONE=9354126619
CALLMEBOT_APIKEY=
CLIENT_URL=http://localhost:5173
PORT=5000